.searchContainer {
    margin: 20px auto;
    width: 300px;
    position: relative;
}

.searchTextbox {
    border: none;
    border-bottom: 1px solid rgba(140, 0, 255, 0.446);
    border-right: 1px solid rgba(140, 0, 255, 0.446);;
    padding: 10px 10px;
    width: 100%;
    outline: none;
    font-size: 20px;
    background-color: rgba(17, 17, 13, 0.122);
    box-shadow: 3px 3px 6px grey;
}