.itemContainer {
  display: flex;
  padding: 10px;
  margin: 15px;
  box-shadow: 3px 3px 6px grey;
  border-radius: 6px;
  background-color: white;
}

.imageContainer {
  display: flex;
  width: 100px;
  height: 100px;
  /* background-color: yellow; */
  align-items: center;
  justify-content: center;
}

.measurementContainer {
  display: flex;
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.image {
  max-width: 100px;
  height: auto;
  border-radius: 6px;
  /* outline: 2px dashed blue; */
}
