.ingredientsTitle{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 59, 98);
    letter-spacing: 4px;
}